.GameHudRoot {
	width: 100%;
	height: 100%;
}

/*ABILITY BAR*/
#MainSelectionAbilityContainer
{
	vertical-align: bottom;
	horizontal-align: center;
	margin-bottom: 15px;
	flow-children: right;
}

.AbilityBarAbilityContainer
{
	width: fit-children;
	height: fit-children;
}

.AbilityBarAbility
{
	width: 80px;
	height: 80px;
	margin: 3px;
	border: 2px solid #565656FF;
	border-radius: 3px;
}

.AbilityBarCooldown
{
	width: 100%;
	height: 100%;
	border: 25px solid #565656CC;
}

.AbilityBarToggle
{
	width: 100%;
	height: 100%;
}

.AbilityDisabled
{
	saturation: 0.4;
	wash-color: #121212AA;
}

.AbilityBarCooldownLabel
{
	vertical-align: center;
	horizontal-align: center;
	color: #FFFFFF;
	font-size: 22px;
	font-family: "Radiance";
	text-align: center;
	text-shadow: 2px 2px 9px 3 #00000000;
}

#AbilityBarInnate
{
	width: 80px;
	height: 80px;
	margin-right: 20px;
	border: 3px solid #eeb70cFF;
	border-radius: 3px;
}

.AbilityToggledOn
{
	border: 2px solid #00cc00FF;
}

.AbilityLevelFlair{
	width: 20px;
	height: 20px;
	vertical-align: top;
	horizontal-align: right;
	background-color: #555555FF;
	border: 1px solid #121212FF;
}

.AbilityCanBeLeveled{
	wash-color: #FFCC00;
	border: 2px solid #FFCC00;
}

.AbilityHotkeyFlair{
	width: 20px;
	height: 20px;
	vertical-align: top;
	horizontal-align: left;
	background-color: #555555FF;
	border: 1px solid #121212FF;
}

.AbilityResourceFlair{
	min-width: 20px;
	height: 20px;
	vertical-align: bottom;
	horizontal-align: right;
	margin-right: 1px;
}

.AbilityResourceLabel{
	vertical-align: center;
	horizontal-align: center;
	font-size: 16px;
	font-family: "Radiance";
	text-align: center;
	text-shadow: 2px 2px 9px 3 #00000000;
	padding-left: 3px;
	padding-right: 3px;
}

.AbilityMiniLabel{
	vertical-align: center;
	horizontal-align: center;
	color: #FFFFFF;
	font-size: 16px;
	font-family: "Radiance";
	text-align: center;
	text-shadow: 2px 2px 2px 3 #000000AA;
}

/*SELECTION INFO*/
.MainSelectionInfoContainer {
	vertical-align: bottom;
	horizontal-align: left;
	height: 260px;
	width: 100%;
	margin-bottom: -65px;
}

#MainSelectionHeroPortrait {
	width: 178px;
	height: 260px;
	opacity-mask: url( "file://{images}/custom_game/portraitmask.tga" );
}

#HeroPortraitBorder {
	width: 178px;
	height: 178px;
	z-index: 10;
}

#MainSelectionLevelContainer
{
	vertical-align: center;
	horizontal-align: right;
	background-color: #565656FF;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	margin-top: 50px;
	margin-right: 10px;
}

#MainSelectionLevelContainerLabel
{
	vertical-align: center;
	horizontal-align: center;
	color: #FFFFFF;
	font-size: 20px;
	font-family: "Radiance";
	text-align: center;
	text-shadow: 2px 2px 9px 3 #00000000;
	margin-top: 3px;
	margin-right: 4px;
}

#MainSelectionHeroPortraitContainer {
	height: 100%;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #111111AA ), color-stop( .0, #25282aAA), color-stop( .1, #25282a55), to( #11111100 ) );
	border-radius: 10px;
	margin-left: -5px;
	padding: 5px;
	flow-children: right;
}

#MainSelectionCurrentStateContainer
{
	flow-children: up;
	vertical-align: bottom;
	width: 350px;
}

#MainSelectionBuffDebuffContainer
{
	flow-children:down;
	width: 100%;
}

#MainSelectionBuffContainer
{
	flow-children: right;
	height: 40px;
	width: 100%;
}

#MainSelectionDebuffContainer
{
	flow-children: right;
	height: 40px;
	width: 100%;
}


#MainSelectionResourceHolder{
	vertical-align: bottom;
	horizontal-align: middle;
	flow-children: down;
	height: 100px;
	width: 100%;
	margin-bottom: 65px;
	padding: 2px;
}

#MainSelectionHealthBarContainer
{
	width: 100%;
	height: 50%;
}

#MainSelectionHealthBarPanelContainer
{
	flow-children: right;
	border-radius: 5px;
	width: 100%;
	height: 100%;
	border: 3px solid #881111FF;
}

.ProgressPanelHealth
{
	width: 100%;
	height: 100%;
}

#MainSelectionHealthBar_Left
{
  background-color: gradient( linear, 0% 100%, 0% 0%, from( #991111FF ), color-stop( .4, #CD2626FF), color-stop( .6, #CD2626FF), to( #991111FF ) );
  box-shadow: inset #000 1px 1px 3px 3px;
  border-radius: 2px;
}

#MainSelectionHealthBar_Right
{
  background-color: gradient( linear, 0% 100%, 0% 0%, from( #c17070FF ), color-stop( .4, #e69292FF), color-stop( .6, #e69292FF), to( #c17070FF ) );
}

#MainSelectionHealthBarHeal_Left
{
  background-color: gradient( linear, 0% 100%, 0% 0%, from( #119011FF ), color-stop( .4, #0B640BFF), color-stop( .6, #0B640BFF), to( #119011FF ) );
  box-shadow: inset #000 1px 1px 3px 3px;
  border-radius: 2px;
}

#MainSelectionHealthBarHeal_Right
{
  background-color: gradient( linear, 0% 100%, 0% 0%, from( #191919FF ), color-stop( .4, #020202FF), color-stop( .6, #020202FF ), to( #191919FF ) );
}

#MainSelectionManaBar {
	border-radius: 5px;
	width: 100%;
	height: 50%;
	border: 3px solid #354456FF;
}

#MainSelectionManaBar_Left
{
  /*background-color: gradient( linear, 0% 0%, 0% 100%, from( #326114 ), color-stop( 0.3, #54BA07 ), color-stop( .5, #54BA07 ), to( #326114 ) );*/
  background-color: gradient( linear, 0% 100%, 0% 0%, from( #1c4875FF ), color-stop( .4, #26619cFF), color-stop( .6, #26619cFF), to( #1c4875FF ) );
  box-shadow: inset #000 1px 1px 3px 3px;
  border-radius: 2px;
}

#MainSelectionManaBar_Right
{
  background-color: gradient( linear, 0% 0%, 100% 0%, from( #222222FF ), to( black ) );
}

#HeroStatsContainer
{
	width: fit-children;
	flow-children: down;
}

.AttributeContainer{
	flow-children: down;
	margin-top: 5px;
	margin-right: 5px;
	margin-left: 5px;
}

.StatContainer
{
	flow-children: right;
}

.StatsImage
{
	width: 18px;
	height: 18px;
	margin: 2px;
	
}

.StatsText
{
	vertical-align: center;
	horizontal-align: center;
	color: #FFFFFF;
	font-size: 16px;
	font-family: "Radiance";
	text-align: center;
	text-shadow: 2px 2px 9px 3 #00000000;
	margin-top: 1px;
}


.ResourceText
{
	vertical-align: center;
	horizontal-align: center;
	color: #FFFFFF;
	font-size: 20px;
	font-family: "Radiance";
	text-align: center;
	text-shadow: 2px 2px 9px 3 #00000000;
	margin-top: 1px;
	z-index: 5;
}

.RegenLabel
{
	horizontal-align: right;
	vertical-align: center;
	color: #FFFFFF;
	font-size: 20px;
	font-family: "Radiance";
	text-shadow: 2px 2px 1px 2 #000000d0;
	margin-right: 15px;
}

.MainLabel
{
	horizontal-align: left;
	vertical-align: center;
	color: #FFFFFF;
	font-size: 20px;
	font-family: "Radiance";
	text-shadow: 2px 2px 1px 2 #000000d0;
	margin-left: 15px;
}


.PlayerMainModifier {
	width: 36px;
	height: 36px;
}


.PlayerMainModifierLabel
{
	vertical-align: center;
	horizontal-align: center;
	text-align: center;
	color: #FFFFFF;
	font-size: 18px;
	font-family: "Radiance";
	text-align: center;
	margin-right: 3px;
	text-shadow: 2px 2px 1px 2 #000000d0;
	z-index: 5;
}



/*TEAM INFO*/

.GameHudTeamInfoContainer {
	margin-top: 60px;
	horizontal-align: left;
	flow-children: right;
	margin-left: -10px;
	
	transition-timing-function: ease-in-out;
	transition-property: transform;
	transition-duration: 0.3s;
}

.TeamHidden
{
    transform: translate3d( -225px, 0px, 0px );
}

.Hidden
{
	opacity: 0.0;
	transform: translateY( 200px );
	pre-transform-scale2d: 0.95;
	wash-color: #33CCCC;
}

.PlayerInfoContainerHolder {
	flow-children: down;

	/* background-color: gradient( linear, 0% 0%, 100% 0%, from( #11111199 ), color-stop( .2, #25282a99), color-stop( .6, #25282a99), to( #11111199 ) ); */
	border-bottom-right-radius: 5px;
	
}

.PlayerInfoBuffDebuffContainer {
	margin-left: 3px;
	width: 100%;
	height: 100%;
	flow-children: right-wrap;
}

.PlayerInfoModifier {
	width: 32px;
	height: 32px;
}

.PlayerInfoModifierHolder {
	margin-left: 4px;
	margin-bottom: 2px;
}

.IsBuff
{
	width: 100%;
	height: 100%;
	border: 3px solid #00cc00FF;
}

.IsDebuff {
	width: 100%;
	height: 100%;
	border: 3px solid #e50000FF;
}

.PlayerInfoModifierLabel
{
	vertical-align: center;
	horizontal-align: center;
	text-align: center;
	color: #FFFFFF;
	font-size: 16px;
	font-family: "Radiance";
	text-align: center;
	text-shadow: 2px 2px 1px 2 #000000d0;
	z-index: 5;
}


.PlayerInfoContainer {
	margin: 5px;
	flow-children: right;
}

.PlayerInfoPortrait {
	background-color: #12DF12FF;
	vertical-align: middle;
	border-radius: 3px;
	width: 79px;
	height: 105px;
}

.PlayerInfoResourceBar {
	vertical-align: top;
	width: 150px;
	height: 100%;
	flow-children: down;
	z-index: -1;
	margin-left: -5px;
	margin-top: 2px;
}

.PlayerInfoResourcePanel{
	height: 35px;
	width: 100%;
	border-right: 2px solid #555555FF;
	border-bottom: 2px solid #555555FF;
	background-color: #121212FF;
}


.PlayerInfoHealth
{
	background-color: gradient( linear, 0% 100%, 0% 0%, from( #991111FF ), color-stop( .4, #CD2626FF), color-stop( .6, #CD2626FF), to( #991111FF ) );
	height: fill-parent-flow( 1 );
	width: 100%;
	border: 3px solid #881111FF;
}


.PlayerInfoMana{
	background-color: gradient( linear, 0% 100%, 0% 0%, from( #1c4875FF ), color-stop( .4, #26619cFF), color-stop( .6, #26619cFF), to( #1c4875FF ) );
	vertical-align: middle;
	height: fill-parent-flow( 1 );
	width: 100%;
	border: 3px solid #354456FF;
}

.PlayerInfoContainerClose
{
	vertical-align: top;
	horizontal-align: right;
	height: 40px;
	width: 40px;
	margin-top: 5px;
	margin-left: -5px;
	
	background-color: #11111199;
	z-index: -1;
}

.CloseImage
{
	vertical-align: center;
	horizontal-align: center;
	width: 35px;
	height: 35px;
	wash-color: #464646;
}

#HeroInformationContainer
{
	vertical-align: top;
	horizontal-align: middle;
	margin-top: 50px;
	flow-children: down;
	padding: 20px;
}

#HeroInventoryPanel
{
	vertical-align: top;
	horizontal-align: middle;
	margin-top: 50px;
	flow-children: down;
	padding: 20px;
}

.InformationPanel
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #2d2d2d99 ), to( #2d2d2d99 ) );
	border: 2px solid #121212FF;
	
	transition-property: opacity, transform, pre-transform-scale2d, wash-color;
	transition-duration: 0.4s;
	transition-delay: 0.0s;
	transition-timing-function: ease-in-out;
}

#HeroInformation
{
	flow-children: down;
	padding: 20px;
}

.HeroInfoContainer
{
	horizontal-align: center;
	flow-children: right;
}

.HeroInfoContainerSub
{
	horizontal-align: center;
	flow-children: down;
}


.InfoImage
{
	width: 32px;
	height: 32px;
	margin: 2px;
}

.InfoText
{
	vertical-align: center;
	horizontal-align: left;
	color: #FFFFFF;
	font-size: 18px;
	font-family: "Radiance";
	text-align: center;
	text-shadow: 2px 2px 9px 3 #00000000;
	margin-top: 1px;
	margin-left: 1px;
}

.StatInfoContainer
{
	horizontal-align: center;
	flow-children: right;
	margin-bottom: 1px;
	margin-left: 2px;
	margin-right: 2px;
	width: 100px;
}

.StatsContainerRight
{
	horizontal-align: center;
	flow-children: right;
}

.AttributeStatContainer
{
	flow-children: right;
	margin: 4px;
}

#InfoVisionContainer
{
	margin-top: 15px;
}

.AttributeStatsContainer
{
	vertical-align: bottom;
	horizontal-align: center;
	margin-bottom: 30px;
	flow-children: right;
}

.HeroInfoScenePanel
{
	width: 400px;
	height: 300px;
	opacity-mask: url( "file://{images}/custom_game/landscape.tga" );
	horizontal-align: middle;
	vertical-align: top;
}

#CloseInfoPanelBtn
{
	margin: 2px;
	vertical-align: top;
	horizontal-align: right;
	width: 32px;
	height: 32px;
	background-color: #AA080888;
	border: 2px solid #56030388;
	z-index: 50;
}

#HeroInventory
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #2d2d2d ), to( #2d2d2d ) );
}

.EquipmentUpgradeContainer
{
	flow-children: right;
	margin-bottom: 10px;
	margin-top: 10px;
}

.EquipmentUpgradeIcon
{
	width: 64px;
	height: 64px;
	margin: 8px;
}

.CurrentUpgrade
{
	border: 2px solid #565656FF;
}