.GameHudRoot {
	width: 100%;
	height: 100%;
}

/*ABILITY BAR*/
#MainSelectionAbilityContainer
{
	vertical-align: bottom;
	horizontal-align: center;
	margin-bottom: 15px;
	flow-children: right;
}

.AbilityBarAbility
{
	width: 80px;
	height: 80px;
	margin: 3px;
	border: 2px solid #565656FF;
	border-radius: 3px;
}

#AbilityBarInnate
{
	width: 80px;
	height: 80px;
	margin-right: 20px;
	border: 3px solid #eeb70cFF;
	border-radius: 3px;
}

.AbilityToggledOn
{
	border: 5px solid #898989FF;
}

.AbilityLevelFlair{
	width: 20px;
	height: 20px;
	vertical-align: bottom;
	horizontal-align: left;
	background-color: #555555FF;
	border: 1px solid #121212FF;
}

.AbilityLevelImage{
	width: 100%;
	height: 100%;
	wash-color: #e5c100FF;
	border: 3px solid #eeb70cFF;
}

.AbilityHotkeyFlair{
	width: 20px;
	height: 20px;
	vertical-align: bottom;
	horizontal-align:right;
	background-color: #555555FF;
	border: 1px solid #121212FF;
}

.AbilityMiniLabel{
	vertical-align: center;
	horizontal-align: center;
	color: #FFFFFF;
	font-size: 16px;
	font-family: "Radiance";
	text-align: center;
	text-shadow: 2px 2px 9px 3 #00000000;
}

/*SELECTION INFO*/
.MainSelectionInfoContainer {
	vertical-align: bottom;
	horizontal-align: left;
	height: 260px;
	width: 100%;
	margin-bottom: -65px;
}

#MainSelectionHeroPortrait {
	width: 178px;
	height: 100%;
	opacity-mask: url( "file://{images}/custom_game/portraitmask.tga" );
}

#MainSelectionHeroPortraitContainer {
	height: 100%;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #111111AA ), color-stop( .0, #25282aAA), color-stop( .1, #25282a55), to( #11111100 ) );
	border-radius: 10px;
	margin-left: -5px;
	padding: 5px;
	flow-children: right;
}

#MainSelectionCurrentStateContainer
{
	flow-children: up;
	vertical-align: bottom;
	width: 350px;
}

#MainSelectionBuffDebuffContainer
{
	flow-children:down;
	width: 100%;
}

#MainSelectionBuffContainer
{
	flow-children: right;
	height: 40px;
	width: 100%;
}

#MainSelectionDebuffContainer
{
	flow-children: right;
	height: 40px;
	width: 100%;
}


#MainSelectionResourceHolder{
	vertical-align: bottom;
	horizontal-align: middle;
	flow-children: down;
	height: 100px;
	width: 100%;
	margin-bottom: 65px;
	padding: 2px;
}

#MainSelectionHealthBar {
	border-radius: 5px;
	width: 100%;
	height: 50%;
	border: 3px solid #881111FF;
}

#MainSelectionHealthBar_Left
{
  /*background-color: gradient( linear, 0% 0%, 0% 100%, from( #326114 ), color-stop( 0.3, #54BA07 ), color-stop( .5, #54BA07 ), to( #326114 ) );*/
  background-color: gradient( linear, 0% 100%, 0% 0%, from( #991111FF ), color-stop( .4, #CD2626FF), color-stop( .6, #CD2626FF), to( #991111FF ) );
  box-shadow: inset #000 1px 1px 3px 3px;
  border-radius: 2px;
}

#MainSelectionHealthBar_Right
{
  background-color: gradient( linear, 0% 0%, 100% 0%, from( #222222FF ), to( black ) );
}

#MainSelectionManaBar {
	border-radius: 5px;
	width: 100%;
	height: 50%;
	border: 3px solid #354456FF;
}

#MainSelectionManaBar_Left
{
  /*background-color: gradient( linear, 0% 0%, 0% 100%, from( #326114 ), color-stop( 0.3, #54BA07 ), color-stop( .5, #54BA07 ), to( #326114 ) );*/
  background-color: gradient( linear, 0% 100%, 0% 0%, from( #1c4875FF ), color-stop( .4, #26619cFF), color-stop( .6, #26619cFF), to( #1c4875FF ) );
  box-shadow: inset #000 1px 1px 3px 3px;
  border-radius: 2px;
}

#MainSelectionManaBar_Right
{
  background-color: gradient( linear, 0% 0%, 100% 0%, from( #222222FF ), to( black ) );
}

#HeroStatsContainer
{
	width: fit-children;
	flow-children: down;
}

.AttributeContainer{
	flow-children: down;
	margin-top: 5px;
	margin-right: 2px;
}

.StatContainer
{
	flow-children: right;
}

.StatsImage
{
	width: 18px;
	height: 18px;
	margin: 2px;
	
}

.StatsText
{
	vertical-align: center;
	horizontal-align: center;
	color: #FFFFFF;
	font-size: 16px;
	font-family: "Radiance";
	text-align: center;
	text-shadow: 2px 2px 9px 3 #00000000;
	margin-top: 1px;
}


.ResourceText
{
	vertical-align: center;
	horizontal-align: center;
	color: #FFFFFF;
	font-size: 20px;
	font-family: "Radiance";
	text-align: center;
	text-shadow: 2px 2px 9px 3 #00000000;
	margin-top: 1px;
}

.RegenLabel
{
	horizontal-align: right;
	vertical-align: center;
	color: #FFFFFF;
	font-size: 20px;
	font-family: "Radiance";
	text-shadow: 2px 2px 1px 2 #000000d0;
	margin-right: 15px;
}

.MainLabel
{
	horizontal-align: left;
	vertical-align: center;
	color: #FFFFFF;
	font-size: 20px;
	font-family: "Radiance";
	text-shadow: 2px 2px 1px 2 #000000d0;
	margin-left: 15px;
}


.PlayerMainModifier {
	width: 36px;
	height: 36px;
}


.PlayerMainModifierLabel
{
	vertical-align: center;
	horizontal-align: center;
	text-align: center;
	color: #FFFFFF;
	font-size: 18px;
	font-family: "Radiance";
	text-align: center;
	margin-right: 3px;
	text-shadow: 2px 2px 1px 2 #000000d0;
	z-index: 5;
}



/*TEAM INFO*/

.GameHudTeamInfoContainer {
	margin-top: 60px;
	horizontal-align: left;
	flow-children: right;
	margin-left: -10px;
	
	transition-timing-function: ease-in-out;
	transition-property: transform;
	transition-duration: 0.3s;
}

.TeamHidden
{
    transform: translate3d( -225px, 0px, 0px );
}

.PlayerInfoContainerHolder {
	flow-children: down;

	/* background-color: gradient( linear, 0% 0%, 100% 0%, from( #11111199 ), color-stop( .2, #25282a99), color-stop( .6, #25282a99), to( #11111199 ) ); */
	border-bottom-right-radius: 5px;
	
}

.PlayerInfoBuffDebuffContainer {
	margin-left: 3px;
	width: 100%;
	height: 100%;
	flow-children: right-wrap;
}

.PlayerInfoModifier {
	width: 32px;
	height: 32px;
}

.PlayerInfoModifierHolder {
	margin-left: 4px;
	margin-bottom: 2px;
}

.IsBuff
{
	width: 100%;
	height: 100%;
	border: 3px solid #00cc00FF;
}

.IsDebuff {
	width: 100%;
	height: 100%;
	border: 3px solid #e50000FF;
}

.PlayerInfoModifierLabel
{
	vertical-align: center;
	horizontal-align: center;
	text-align: center;
	color: #FFFFFF;
	font-size: 16px;
	font-family: "Radiance";
	text-align: center;
	text-shadow: 2px 2px 1px 2 #000000d0;
	z-index: 5;
}


.PlayerInfoContainer {
	margin: 5px;
	flow-children: right;
}

.PlayerInfoPortrait {
	background-color: #12DF12FF;
	vertical-align: middle;
	border-radius: 3px;
	width: 79px;
	height: 105px;
}

.PlayerInfoResourceBar {
	vertical-align: top;
	width: 150px;
	height: 100%;
	flow-children: down;
	z-index: -1;
	margin-left: -5px;
	margin-top: 2px;
}

.PlayerInfoResourcePanel{
	height: 35px;
	width: 100%;
	border-right: 2px solid #555555FF;
	border-bottom: 2px solid #555555FF;
	background-color: #121212FF;
}


.PlayerInfoHealth
{
	background-color: gradient( linear, 0% 100%, 0% 0%, from( #800000FF ), color-stop( .5, #e60000FF), color-stop( .5, #e60000FF), to( #800000FF ) );
	height: fill-parent-flow( 1 );
	width: 100%;
}


.PlayerInfoMana{
	background-color: gradient( linear, 0% 100%, 0% 0%, from( #2b60a1FF ), color-stop( .5, #75a2daFF), color-stop( .5, #75a2daFF), to( #2b60a1FF ) );
	vertical-align: middle;
	height: fill-parent-flow( 1 );
	width: 100%;
}

.PlayerInfoContainerClose
{
	vertical-align: top;
	horizontal-align: right;
	height: 40px;
	width: 40px;
	margin-top: 5px;
	margin-left: -5px;
	
	background-color: #11111199;
	z-index: -1;
}

.CloseImage
{
	vertical-align: center;
	horizontal-align: center;
	width: 35px;
	height: 35px;
	wash-color: #464646;
}