.SkillSelectionRoot {
	width: 100%;
	height: 100%;
	z-index: 6;
	flow-children: down;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #111111FF ), color-stop( .2, #25282aFF), color-stop( .6, #25282aFF), to( #111111FF ) );
}

.SkillMainContainer {
	width: 100%;
	height: 100%;
	flow-children: right;
	margin-top: 150px;
}

.SkillRowContainer {
	width: 100%;
	height: 100%;
	flow-children: down;
}

.SkillInfoContainer {
	width: 15%;
	height: 100%;
	flow-children: down;
	border-right: 2px solid #121212FF;
}

.SkillMainContainerRow {
	width: 100%;
	height:  150px;
	flow-children: right;
	margin: 15px;
}

.SkillAbilityContainerRow {
	flow-children: right;
	vertical-align: middle;
	margin-left: 50px;
}

.AbilityIcon{
	vertical-align: center;
	width: 132px;
	height: 132px;
	margin: 3px;
	border: 1px solid #121212FF;
}

.AspectRatio4x3 .AbilityIcon {
	width: 110px;
	height: 110px;
	margin: 2px;
}

.SelectableSkillContainer {
	flow-children: right-wrap;
	vertical-align: middle;
	width: 276px;
}

.AspectRatio16x9 .SelectableSkillContainer {
	flow-children: right-wrap;
	vertical-align: middle;
	width: 300px;
}

.SelectablePreviewContainerRow {
	flow-children: right;
	vertical-align: middle;
	horizontal-align: right;
	margin-right: 50px;
}

.SelectableAbilityIcon
{
	width: 64px;
	height: 64px;
	margin: 3px;
	border: 1px solid #121212FF;
}

.AbilityHotkeyFlair{
	width: 20px;
	height: 20px;
	vertical-align: bottom;
	horizontal-align:right;
	background-color: #555555FF;
	border: 1px solid #121212FF;
}

.HotkeyLabel{
	vertical-align: center;
	horizontal-align: center;
	color: #FFFFFF;
	font-size: 16px;
	font-family: "Radiance";
	text-align: center;
	text-shadow: 2px 2px 9px 3 #00000000;
}

#SelectionTimerContainer
{
	width: 156px;
	height: 156px;
	vertical-align: top;
	horizontal-align: center;
	border: 4px solid #AFAFAFFF;
	border-radius: 128px 128px;
	margin-top: 30px;
}

#SelectionTimer
{
	vertical-align: center;
	horizontal-align: center;
	margin-top: 15px;
	margin-left: 2px;
	color: #FFFFFF;
	font-size: 80px;
	font-family: "Radiance";
	text-align: center;
	text-shadow: 2px 2px 9px 3 #00000000;
}

.ButtonContainer
{
	width: 450px;
	height: 150px;
	horizontal-align: middle;
	vertical-align: bottom;
	flow-children: down;
	margin-left: 15px;
	margin-bottom: 250px;
}

.PickButton
{
	border: 3px solid #AFAFAFFF;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #977316FF ), color-stop( .4, #DAA520FF), color-stop( .6, #DAA520FF), to( #977316FF ) );
	width: 200px;
	margin: 10px;
}

.ButtonText
{
	vertical-align: center;
	horizontal-align: center;
	color: #FFFFFF;
	font-size: 24px;
	font-family: "Radiance";
	text-align: center;
	text-shadow: 2px 2px 3px 3 #333333b0;
	margin: 5px;
}

.HeroIcon
{
	vertical-align: center;
	margin: 25px;
	border: 1px solid #585858FF;
	width: 154px;
	height: 86px;
}

.AbilitySelected
{
	border: 3px solid #ffd700FF;
}

.HorizontalSeperator {
	width: 90%;
	height: 2px;
	horizontal-align: middle;
	background-color: #121212FF;
}